<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<log4net>
			<appender name="GelfHttpAppender" type="ScGraylog.Appender.GelfHttpAppender, ScGraylog">
				<url value="http://10.0.0.126:12201/gelf" />
				<layout type="ScGraylog.Layout.GelfLayout, ScGraylog">
					<conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n" />
				</layout>
			</appender>
			<root>
				<appender-ref ref="GelfHttpAppender" />
			</root>
		</log4net>
	</sitecore>
</configuration>